@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@layer base {
  body {
    background: linear-gradient(90deg,rgba(30, 1, 81, 1) 0%, rgba(43, 5, 42, 1) 62%, rgba(30, 1, 81, 1) 100%);
  }

  h1 {
    font-family: var(--font-acorn), sans-serif;
    font-weight: 700;
  }

  h2 {
    font-family: var(--font-acorn), sans-serif;
    font-weight: 500;
  }

  h3 {
    font-family: var(--font-acorn), sans-serif;
    font-weight: 400;
  }

  p {
    font-family: var(--font-gt-planar), sans-serif;
    font-weight: 300;
  }

}
